body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #48d1cc;
    padding: 20px;
    position: relative;
}

#header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-tucano {
    width: 100px;
    height: auto;
}

h1 {
    flex-grow: 1;
    margin: 0;
    color: white;
}

#balance-cart {
    display: flex;
    align-items: center;
}

#balance {
    margin: 0 10px 0 0;
    color: white;
    font-size: 18px;
}

#shop-link {
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding: 10px;
}

#shop-link:hover {
    color: #ffeb3b;
}

main {
    margin-top: 20px;
}

#operations {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.operation-item {
    text-align: center;
    margin: 20px;
    cursor: pointer;
}

.operation-item img {
    width: 180px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.operation-item p {
    margin: 0;
    font-size: 16px;
}

#question-container {
    margin-top: 20px;
}

#question {
    font-size: 18px;
    margin: 20px 0;
}

#result-message {
    font-size: 18px;
    margin-top: 20px;
}

footer {
    background-color: #48d1cc;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
}

