/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Cor de fundo específica para operações */
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Estilo do cabeçalho */
header {
    background-color: #00796b; /* Cor específica para operações */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#logo-tucano {
    width: 100px;
    height: auto;
}

h1 {
    flex-grow: 1;
    margin: 0;
    color: white;
    font-size: 24px;
}

#balance-cart {
    display: flex;
    align-items: center;
}

#balance {
    margin-right: 10px;
    color: white;
    font-size: 18px;
}

#shop-link {
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding: 10px;
}

#shop-link:hover {
    color: #ffeb3b;
}

/* Estilo do conteúdo principal */
main {
    margin-top: 20px;
    padding: 20px;
}

#game-section {
    margin: 20px;
}

#question-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #b2dfdb; /* Cor de fundo específica para o contêiner de perguntas */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#question-area {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff; /* Cor de fundo para a área da pergunta */
    border: 2px solid #00796b;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#question {
    font-size: 24px;
    margin: 10px 0;
}

input[type="number"] {
    padding: 10px;
    margin: 10px 0;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #00796b; /* Cor específica para operações */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 12px;
}

button:hover {
    background-color: #004d40;
}

#result-message {
    font-size: 18px;
    margin-top: 20px;
}

/* Estilo do rodapé */
footer {
    background-color: #00796b; /* Cor específica para operações */
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}


