<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>TucoMáticos - Loja</title>
    <link rel="stylesheet" href="/css/styleCompras.css">
    <script defer src="shop.js"></script>
</head>
<body>
    <header>
        <img src="/imagem/tucanoCompras.png" alt="Logo Tucano" id="logo-tucano">
        <h1>Loja do TucoMáticos</h1>
    </header>

    <main>
        <section id="shop-section">
            <p id="balance">Seu saldo: 0</p>
            <div class="house-item">
                <img src="/imagem/casaBasicaTucano.png" alt="Casa 1">
                <p>Casa 1 - 10 Tucoins</p>
                <button onclick="buyHouse(1)">Comprar Casa 1</button>
            </div>
            <div class="house-item">
                <img src="/imagem/casaChiqueTucano.png" alt="Casa 2">
                <p>Casa 2 - 100 Tucoins</p>
                <button onclick="buyHouse(2)">Comprar Casa 2</button>
            </div>
            <p id="shop-message"></p>
        </section>
        <section>
            <button onclick="window.location.href='/voltar_tarefas'">Voltar ao Jogo</button>
        </section>
    </main>
</body>
</html>
